@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.wow</h1>
    <h1 class="display-4">@ViewBag.s</h1>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form name="form" method="post" action="/test">
        @Html.AntiForgeryToken()
        <input type="hidden" name="mid" value="123456798" />
        <input type="hidden" name="mpwd" value="32" />
        <input type="hidden" name="ProgID" value="" />
        <input type="hidden" name="saveid" value="" />
    </form>
    <button name="btn" onclick="document.form.submit();">버튼</button>
</div>

